:root {
  --bg: #e7ecf1;
  --shd_before: 2px 2px 5px 0px rgb(201 204 212 / 75%);
  --shd_after: -2px -2px 5px 0px rgb(255, 255, 255);
  /* --shd_after: -2px -2px 5px 0px rgba(246, 4, 4, 0.75); */
  --bg_card: #f0f2f5;
}

.card-2 {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 300px;
  /* height: 300px; */
  font-size: 14px;
  color: #3e4e6d;
  text-decoration: none;
  background: #f0f2f5;
  border-radius: 10px;
  overflow: hidden;
}
.card-2 img {
  max-width: 100%;
  object-fit: cover;
}
.card-2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2px;
}
.card-2::before {
  z-index: -1;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 0px;
  bottom: 0px;
  background: #c9ccd4;
  border-radius: 10px;
  content: " ";
  box-shadow: var(--shd_before);
}
.card-2::after {
  z-index: -1;
  position: absolute;
  top: -1px;
  left: -1px;
  right: 1px;
  bottom: 1px;
  background: #fff;
  border-radius: 10px;
  content: " ";
  box-shadow: var(--shd_after);
}
.content,
.content-wrapper {
  height: 100vh;
  width: 100vw;
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: transparent;

  /* --stage: 0; */
}
.user-control {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #1160fd10;
}
.play {
  font-size: 3rem;
  border: 2px solid #fff;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  padding: 0px 30px;
}
.level {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* overflow: auto; */
  /* height: 80px; */
}
.item {
  padding: 10px;
}
